@charset "UTF-8";

 body{
 background-color:#dddddd;  
 color: rgba(0,0,0,1);
     }


div#interface{
width:900px;
background-color:#ffffff;
margin:-20px auto 0px auto;
box-shadow:0px 0px 10px rgba(0,0,0,.5);
padding:10px;

}
header#cabecalho img#icone{
position:absolute;
left:820px;
top:5px;

}

header#cabecalho{
border-bottom:1px solid #606060;
padding:10px;
padding-bottom: 45px;
margin:-10px;
}

header#cabecalho h1{
font-family:arial; sans-serif;
size:30pt;
color:#606060;
text-shadow:1px 1px 1px rgba(0,0,0,.6)
padding:0px;
margin-bottom:0px;

}


 p{
  text-align:justify;
  text-indent:50px;
  } 

a{
text-decoration:none;



}


a:hover{
color:#606060;
text-decoration:underline;

}

/*Formatação de Menu*/


nav#Menu ul{
display:block;

}

nav#Menu ul{
list-style:none;
text-transform:uppercase;
position:absolute;
top:35px;
left:200px;
}

nav#Menu li{
display:inline-block;
  background-color:#dddddd;
  padding:10px;
  margin:2px;
  transition:background-color 1s;

}

nav#Menu li:hover{
background-color:#606060;

}

nav#Menu h1{
display:none;

}


nav#Menu a{
color:#00000;
text-decoration:none;

}


nav#Menu a:hover{
 color:#ffffff;
 text-decoration:underline;
}



section#corpo{
display:block;
width:550px;
float:left;
border-right:1px solid #606060;
padding-right:15px;
}

article#noticia-principal h2{
font-size:14pt;
color:#606060;
background-color:#dddddd;
padding:5px 0px 5px 10px;
margin:10px 0px 10px 0px;



}

aside#lateral{
display:block;
width:320px;
float:right;

}
aside#lateral h2{
font-size:14pt;
color:#606060;
background-color:#dddddd;
padding:5px 0px 5px 10px;
margin:10px 0px 10px 0px;
}
aside#lateral p{
  text-align: left;

}
footer#rodape{
clear:both;
border-top:1px solid #606060;

}

footer#rodape p{
text-align:center;



}


